In [65]:
import os
import time
import numpy as np
import pandas as pd
import datetime as dt
import yfinance as yf
import mplfinance as mpf
from pathlib import Path
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

In [ ]:
path = r"C:\Users\tokud\Projects\Stocks\S&P 500\SP500_Tickers.csv"

df = pd.read_csv(path, dtype='str',encoding='us-ascii',encoding_errors='ignore')
print(df.shape)
df.head()

(503, 8)

,Symbol,Security,GICSSector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",3/4/1957,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",7/26/2017,91142,1916
2,ABT,Abbott Laboratories,Health Care,Health Care Equipment,"North Chicago, Illinois",3/4/1957,1800,1888
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",12/31/2012,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",7/6/2011,1467373,1989

In [67]:
tickers = df['Symbol'].unique().tolist()
tickers = [t.replace(".", "-") for t in tickers]

In [68]:
endDate = dt.datetime.now()
startDate = endDate - dt.timedelta(days = 365*5)
endDate, startDate

(datetime.datetime(2025, 11, 26, 0, 7, 56, 16315),
 datetime.datetime(2020, 11, 27, 0, 7, 56, 16315))

In [59]:
data = yf.download(
    tickers,
    start=startDate,
    end=endDate,
    auto_adjust=True,
    threads=False
)

[*********************100%***********************]  503 of 503 completed

2 Failed downloads:
['BF.B']: YFPricesMissingError('possibly delisted; no price data found  (1d 2020-11-26 23:55:58.672504 -> 2025-11-25 23:55:58.672504)')
['BRK.B']: YFTzMissingError('possibly delisted; no timezone found')

In [64]:
df_close = data['Close']
df_close

Ticker,A,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,ADM,...,WY,WYNN,XEL,XOM,XYL,XYZ,YUM,ZBH,ZBRA,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2020-11-27,110.278610,113.494804,86.311806,NaN,98.325989,31.408176,232.809189,477.029999,126.117790,43.888615,...,23.553703,98.384682,57.761559,32.847702,91.647942,212.520004,98.106224,139.959686,377.000000,154.373764
2020-11-30,112.994736,115.889488,86.056709,NaN,98.874176,30.618933,231.850464,478.470001,127.335518,43.297058,...,23.824440,97.684853,57.539467,31.164036,90.544106,210.960007,96.843048,139.120026,378.420013,153.331711
2020-12-01,111.506203,119.462067,85.612366,NaN,99.120857,31.398670,234.810410,479.149994,128.846176,43.592838,...,24.013128,99.492760,58.436398,31.466440,91.581902,203.000000,97.337334,136.302567,372.170013,154.268600
2020-12-02,110.742561,119.812515,86.394112,NaN,98.810219,31.484251,232.381042,481.260010,128.782120,43.053471,...,23.701378,102.185158,58.667011,32.643368,90.704475,202.000000,96.092476,137.935181,367.209991,151.964523
2020-12-03,109.785652,119.676224,86.188385,NaN,98.243759,30.989782,232.632324,484.279999,128.515381,43.331848,...,24.336826,105.451057,57.496742,32.864040,91.279991,205.529999,95.671425,136.498459,372.369995,150.167191
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-11-19,144.399994,268.559998,232.910004,114.440002,126.150002,91.169998,241.080002,318.109985,232.199997,58.230000,...,21.350000,118.320000,79.669998,117.349998,138.588043,62.000000,148.320007,89.449997,230.929993,117.080002
2025-11-20,145.059998,266.250000,229.449997,111.540001,123.970001,91.879997,240.789993,312.399994,225.199997,57.869999,...,21.370001,117.139999,79.489998,117.019997,137.650681,61.950001,149.210007,89.070000,228.399994,115.889999
2025-11-21,151.250000,271.489990,236.279999,114.260002,128.110001,92.459999,251.850006,324.190002,232.320007,58.630001,...,21.780001,119.599998,79.669998,117.080002,139.994064,61.950001,152.979996,92.180000,240.949997,122.059998
2025-11-24,153.600006,275.920013,229.509995,114.410004,127.190002,91.940002,243.619995,318.730011,239.399994,58.650002,...,21.510000,123.239998,80.260002,115.970001,141.430008,61.860001,151.080002,93.519997,242.449997,122.870003
2025-11-25,157.199997,276.970001,231.800003,118.559998,128.050003,93.610001,249.229996,319.549988,252.020004,59.700001,...,22.139999,127.470001,80.389999,114.510002,141.509995,63.689999,154.000000,97.070000,249.309998,127.889999

In [69]:
output_dir = Path(r"C:\Users\tokud\Projects\Stocks\S&P 500")
output_dir.mkdir(parents=True, exist_ok=True)  

output_path = output_dir / "sp500_close_data.csv"

df_close.to_csv(output_path, index=True)